torch==1.12.1
torchvision
torchaudio
rdkit
openbabel-wheel==3.1.1.5
biopython
rdkit
biopandas
pot
dgl
joblib
pyaml
icecream
matplotlib
tensorboard
psutil
dgllife

fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0