html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: #704cb6;
}

.link.active {
  text-decoration: underline;
}
