[Unit]
Description=Bacalhau

[Service]
User=ubuntu
Group=ubuntu
ExecStart=bacalhau serve \
  --node-type compute,requester \
  --ipfs-connect {{ ipfs_connect }} \
  --private-internal-ipfs=false \
  --limit-job-memory 2gb \
  --job-selection-accept-networked \
  --job-selection-data-locality anywhere \
  --job-selection-probe-http {{ receptor_url }} \
  --labels owner={{ owner }}

[Install]
WantedBy=multi-user.target
