[Unit]
Description=Bacalhau

[Service]
Restart=on-failure
RestartSec=5s
User=ubuntu
Group=ubuntu
ExecStart=bacalhau serve \
  --node-type compute \
  --ipfs-connect {{ ipfs_connect }} \
  --private-internal-ipfs=false \
  --labels owner={{ owner }} \
{% if ansible_ec2_instance_type is defined %}
  --labels instance-type={{ ansible_ec2_instance_type }} \
{% endif %}
{% if ansible_ec2_instance_id is defined %}
  --labels instance-id={{ ansible_ec2_instance_id }} \
{% endif %}
  --peer {{ requester_peer }} \
  --limit-job-memory 12gb \
{% if gpu %}
  --limit-job-gpu 1 \
{% endif %}
  --job-selection-accept-networked \
  --job-selection-data-locality anywhere

[Install]
WantedBy=multi-user.target
