[Unit]
Description=IPFS daemon

[Service]
Restart=on-failure
RestartSec=5s
User=ubuntu
Group=ubuntu
ExecStart=ipfs daemon --routing=dhtclient
Environment="IPFS_PATH={{ ipfs_path }}"

[Install]
WantedBy=multi-user.target
