[Unit]
Description=Receptor Web Service

[Service]
Restart=on-failure
RestartSec=5s
User=ubuntu
Group=ubuntu
WorkingDirectory={{ plex_dir }}/receptor
ExecStart=go run main.go
EnvironmentFile={{ receptor_dir }}/configs
EnvironmentFile={{ receptor_dir }}/secrets

[Install]
WantedBy=multi-user.target
