[Unit]
Description=Bacalhau Requester

[Service]
Restart=on-failure
RestartSec=5s
User=ubuntu
Group=ubuntu
ExecStart=bacalhau serve \
  --node-type requester \
  --ipfs-connect {{ ipfs_connect }} \
  --private-internal-ipfs=false \
  --job-selection-probe-http {{ receptor_url }} \
  --labels owner={{ owner }} \
  --job-selection-accept-networked \
  --job-selection-data-locality anywhere \
  --peer none

[Install]
WantedBy=multi-user.target
