.footbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Ensure it takes the full width */
    background-color: #f7f7f7;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    border-top: 1px solid #ddd;
    white-space: nowrap; /* Prevent saplings from wrapping to the next line */
    overflow-x: scroll; /* Allow horizontal scrolling if the saplings exceed the screen width */
  }
  